.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-login {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  height: 200px;
  justify-content: space-evenly;
}

.app-login input {
  width: 30%;
}

.app-login-btn {
  background-color: black;
  color: white;
  padding: 0.5em;
  width: 100px;
  border: none;
  border-radius: 5px;
}

.App-header {
  background-color: #d9d9d9;
  min-height: 25px;
  color: black;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding-left: 10px;
}

.logo {
  height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
